this is the readmefile

<P>there is an arleady uploaded excel file in the controller folder .</P>
<p>for the excel to rest api, I used the // url: https://jsonplaceholder.typicode.com/guide/ as my api</p>
<p> I fend the data to my excel file using excel , data web services. then fetched it from the backend and wrote a post request
    to send the excel data to it.
    you can navigate via : http://localhost:3000/sheets/passDataToApi
</p>

<h1>pass excel data to mysql</h1>
<p>As shown in the Retrieve_and_manipulate_data_folder, I added the data from mysql to excel via odbc windows driver tools</p>
  <p>then , I read the sheet with the employee details in excel via node js and passed all that data to a new database in mysql</p>
  <p>http://localhost:3000/sheets</p>

  <h3>for the powerpoint. it reads data from an api, creates a powerpoint page and slide and adds data and vicer versa</h3>

  http://localhost:3000/powerpoint/powerpoint